body {
    padding: 0;
    margin: 0 auto;
    font-size: 9.1px;
    font-family: Arial, serif;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: #eee;
}

.page {
    width: 594px;
    margin: 10px auto;
    padding: 20px 40px;
    border-style: outset;
    max-width: 100%;
    min-height: 350px;
    background-color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.page:first-child {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.content {
    height: 100%;
}

.slug {
    font-size: 24.1px;
    color: rgb(52, 81, 104);
    font-weight: bold;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 33.0px;
    color: rgb(240, 82, 25);
    font-weight: bold;
}

h3 {
    font-size: 18.1px;
    color: rgb(33, 29, 30);
    font-weight: bold;
}

h4 {
    font-size: 13.1px;
    color: rgb(33, 29, 30);
    font-weight: bold;
}

p {
    font-size: 12.0px;
    color: rgb(88, 85, 86);
    line-height: 1.35;
}

ul {
    list-style: none;
    padding: 0px;
}

ul li::before {
    content: "";
    background-image: url(https://cdn-icons-png.flaticon.com/512/1828/1828677.png);
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.2rem;
    margin-right: 0.2rem;
}

li {
    font-size: 12.0px;
    color: rgb(88, 85, 86);
    line-height: 1.5;
    padding-bottom: 10px;
}

img, iframe{
    width: 100%;
    padding: 15px;
}

img .logo{
    width: 100%;
}

img .logo {
    width: 192px;
    height: 48px;
    margin-bottom: 30px;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.f-hr {
    border-top: 1px solid rgb(240, 82, 25);
}

.flex-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.f-spec {
    font-size: 10.1px;
    color: rgb(240, 82, 25);
    font-weight: bold;
}

.f-norm {
    font-size: 10.1px;
    color: black
}

.btn-colour-1 {
    color: #fff;
    background-color: rgb(240, 82, 25);
    border-color: rgb(240, 82, 25);
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 10px;
}

.btn-colour-1:hover,
.btn-colour-1:active,
.btn-colour-1:focus,
.btn-colour-1.active {
    /* let's darken #004E64 a bit for hover effect */
    background: rgb(240, 82, 25);
    color: #ffffff;
    border-color: rgb(240, 82, 25);
}

/* fade in */

.img-content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.img-content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.img-content:hover .content-overlay{
    opacity: 1;
}

.content-image{
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.img-content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p{
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-top{
    top: 20%;
}

/*MEDIA QUERIES
@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 767px) {

}

*/

@media (max-width: 420px) {
    h2 {
        font-size: 18.0px;
    }

    .page {
        padding: 20px 24px;
    }
}
